<div class="container">

    <div>
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-4">Main page</span>
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/home">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link" routerLinkActive="active" routerLink="/accounts">Accounts</a></li>
            <li class="nav-item"><a href="#" class="nav-link" routerLinkActive="active" routerLink="/group-accounts">Group of Accounts</a></li>
            <!-- <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li> -->
            <!-- <li class="nav-item"><a href="#" class="nav-link">About</a></li> -->
          </ul>
        </header>
      </div>

    <div>
      <router-outlet></router-outlet>
    </div>
    <div>
      <div class="container">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary" routerLink="/home">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary" routerLink="/accounts">Accounts</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary" routerLink="/group-accounts">Group of Accounts</a></li>
          </ul>
          <p class="text-center text-body-secondary">&copy; {{currentYear}} Password manager</p>
        </footer>
      </div>
    </div>
</div>